/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    position: relative; 
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #FF8C8C;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a {
    text-decoration: none; 
    color: #000;
  }

  header h1 {
    margin-left: 20px;
    color: #000;
  }

  .header-list {
    display: flex;
    align-items: center;
  }

  header ul {
    display: flex;
    margin-right: 600px;
  }

  header li {
    list-style: none;
    margin-right: 40px;
  }

  footer {
    color: white;
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }

h1{
  text-align: center;
}